.time {
  width: 450px;
  height: 50px;
  text-align: center;
  background-color: bisque;
  color: black;
  font-size: 30px;
}

.game-board {
  width: 450px;
  height: 450px;
  background-color: beige;
}

.cell {
  width: 50px;
  height: 50px;
  border: solid 1px;
  display: inline-block;
}

.value {
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 30px;
  color: black;
}

.button-board {
  display: flex;
  justify-content: left;
}

.reset-bottun {
  width: 225px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  background-color: red;
  border: outset 5px;
}

.reset-bottun:active {
  border: inset 5px;
}

.create-button {
  width: 225px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  background-color: green;
  border: outset 5px;
}

.create-button:active {
  border: inset 5px;
}

.room-create {
  width: 450px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  background-color: bisque;
  border: outset 5px;
}

.room-create:active {
  border: inset 5px;
}
